.carousel-item img{
    width: 100%;
}
#topic, .quick{
    margin: auto;
    font-weight: bold;
    width: max-content;
    padding-bottom:5px ;
    border-bottom: 2px solid tomato;
}
.nav-link:hover{
    color: orange;
    text-shadow: 0px 0px 10px orange;
}
.box{
    width: 200px;
    padding: 10px;
    margin: auto;
    margin-top: 50px;
    height:min-content;
    text-align: justify;
    border-radius: 10px;
    border: 1px solid silver;
}
.profile1{
    width: 80px;
    height: 80px;
    margin: auto;
    margin-top: -50px;
    border-radius: 100px;
    background-size: cover;
    background-image: url(./Image/Ashu.png);
}
.profile2{
    width: 80px;
    height: 80px;
    margin: auto;
    margin-top: -50px;
    border-radius: 100px;
    background-size: cover;
    background-image: url(./Image/Rounak.jpg);
}
.back{
    width: 50px;
    height: 50px;
    opacity: .3;
    color: black;
    float:right;
    margin-top: 50vh;
    font-size: 40px;
    margin-left: -15px;
    line-height:30px;
    border-radius: 50px;
}
footer a{
    width: min-content;
    color: white;
    display:block;
    text-decoration: none;
}
.social{
    color: black;
    margin: 0px 5px;
    display: inline-block;
}
footer{
    width: 100%;
    color: silver;
    padding: 5px 0px;
    background-color: black;
    border-top: 1px solid white;
}